.header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  &_home-button {
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
  }
}

.cart {
  &_items {
    font-size: 13px;
    color: white;
    background: red;
    border-radius: 23px;
    padding: 0 5px;
    position: relative;
    left: -20px;
    bottom: -8px;
    opacity: 0.9;
  }
}
