<div class="container">
  <div class="product">
    <div class="product_image-wrapper">
      <img class="product_image"
           src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="product photo">
    </div>
    <div class="product_info">
      <h1 class="product_title">Product Title</h1>
      <p class="product_desc">The Shiba Inu is the smallest of the six original.</p>
      <div class="product_price">Price: 20 $</div>
      <button mat-raised-button color="primary" class="product_cart-button">
        <mat-icon>shopping_cart</mat-icon>
        Add To Cart
      </button>
    </div>
  </div>
</div>
