<mat-toolbar color="primary" class="header">
  <div>
    <button class="header_home-button" routerLink="/">My App</button>
  </div>

  <div>
    <button class="cart" mat-icon-button routerLink="shopping-cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <span class="cart_items" *ngIf="cartItems">{{cartItems}}</span>
  </div>
</mat-toolbar>

<!--<div class="container">-->
  <mat-sidenav-container>
    <app-sidenav></app-sidenav>
      <div class="container">
    <router-outlet></router-outlet>

      </div>

  </mat-sidenav-container>
<!--</div>-->


