<mat-card class="product">
  <div class="product_header">
    <button mat-icon-button aria-label="delete product">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="product_wrapper">
    <img class="product_image"
         src="https://material.angular.io/assets/img/examples/shiba2.jpg" >

    <div class="product_info">
      <h3 class="product_title">
        <a class="product_title-link" href="#">Product Title Title Title</a>
      </h3>

      <p class="product_desc">
        The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of the six original. The Shiba Inu is the smallest of the six original.
      </p>

    </div>
    <div class="product_quantity">
      <button mat-icon-button>
        <mat-icon>remove</mat-icon>
      </button>
      <input class="product_quantity-input" type="number" value="1">
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>
  <div class="product_footer">
    <p class="product_price">Price: 37 $</p>
  </div>
</mat-card>

<!--<div class="product_info">-->
<!--  <h3 class="product_title">Product Title</h3>-->
<!--  <p class="product_desc">The Shiba Inu is the smallest of the six original.</p>-->
<!--</div>-->
<!--<div>-->
<!--  <span class="product_price">37 $</span>-->
<!--</div>-->
