<mat-card class="product">
  <div class="product_header">
    <button (click)="deleteProduct(product.id)"
      mat-icon-button aria-label="delete product">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="product_wrapper">
    <img class="product_image"
         src="{{product.image}}" >

    <div class="product_info">
      <h3 class="product_title">
        <a class="product_title-link" href="#">{{product.title}}</a>
      </h3>

      <p class="product_desc">
        {{product.description}}
      </p>

    </div>
    <div class="product_quantity">
      <button mat-icon-button
              (click)="minus(product.id)"
      >
        <mat-icon>remove</mat-icon>
      </button>
      <input class="product_quantity-input" type="number" value="{{quantity}}" [(ngModel)]="quantity">
      <button mat-icon-button
              (click)="plus(product.id)"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>
  <div class="product_footer">
    <p class="product_price">Price: {{product.price}} $</p>
  </div>
</mat-card>


