<mat-card class="product" [routerLink]="['product/', 123]">
  <img mat-card-image
       src="https://material.angular.io/assets/img/examples/shiba2.jpg"
       alt="product photo">
  <mat-card-content>
    <span class="product_title">Product Title</span>
    <p class="product_desc">
      The Shiba Inu is the smallest of the six original.
    </p>
  </mat-card-content>
  <mat-card-actions class="product_actions">
    <div class="product_price"> 24 $</div>
    <button mat-icon-button color="primary"><mat-icon>shopping_cart</mat-icon></button>
  </mat-card-actions>
</mat-card>
