<mat-card class="product" >
  <div [routerLink]="['product/', product.id]">
    <img class="product_image"
         src="{{product.image}}"
         alt="product photo">
    <mat-card-content>
      <span class="product_title">{{product.title}}</span>
      <p class="product_desc">
        {{product.description}}
      </p>
    </mat-card-content>
  </div>

  <mat-card-actions class="product_actions">
    <div class="product_price">{{product.price}} $</div>
   <div>
     <button mat-icon-button
             (click)="addToCart(product)"
             color="primary">
       <mat-icon>shopping_cart</mat-icon>
     </button>
   </div>
  </mat-card-actions>
</mat-card>
