.quantity {
  display: flex;
  margin: 10px 0;
  &_input {
    max-width: 30px;
    height: 20px;
    text-align: center;
    margin: 0 10px;
  }
  &_button {
    background: transparent;
    border: none;
    padding: 0;
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
